@let auth = kcContext.auth;
@let url = kcContext.url;

@if (auth.showTryAnotherWayLink) {
  <form
    id="kc-select-try-another-way-form"
    method="post"
    [action]="url"
    novalidate="novalidate"
  >
    <input
      type="hidden"
      name="tryAnotherWay"
      value="on"
    />
    <a
      id="try-another-way"
      href="javascript:document.forms['kc-select-try-another-way-form'].requestSubmit()"
      [kcClass]="['kcButtonSecondaryClass', 'kcButtonBlockClass', 'kcMarginTopClass']"
    >
      {{ i18n.msgStr('doTryAnotherWay') }}
    </a>
  </form>
}
