@let nameValue = name();
@let labelValue = label();
@let errorValue = error();
@let requiredValue = required();
@let valueValue = value();
@let autocompleteValue = autocomplete();
@let autofocusValue = autofocus();
@let forgotPasswordValue = forgotPassword();
@let resetCredentialsUrlValue = resetCredentialsUrl();
@let hasError = !!errorValue;

<kc-group
  [name]="nameValue"
  [label]="labelValue"
  [error]="errorValue"
  [required]="requiredValue"
>
  <div [kcClass]="'kcInputGroup'">
    <div [kcClass]="{ kcInputGroupItemClass: true, kcFill: true }">
      <span [kcClass]="{ kcInputClass: true, kcError: hasError }">
        <input
          #passwordInput
          [id]="nameValue"
          [name]="nameValue"
          [value]="valueValue"
          type="password"
          [autocomplete]="autocompleteValue"
          [attr.autofocus]="autofocusValue ? '' : null"
        />
        <kc-error-icon [error]="errorValue"></kc-error-icon>
      </span>
    </div>

    <div [kcClass]="'kcInputGroupItemClass'">
      <button
        #passwordToggleButton
        [kcClass]="'kcFormPasswordVisibilityButtonClass'"
        type="button"
        [attr.aria-label]="i18n.msgStr('showPassword')"
        [attr.aria-controls]="nameValue"
        data-password-toggle
        data-icon-show="fa-eye fas"
        data-icon-hide="fa-eye-slash fas"
        [attr.data-label-show]="i18n.msgStr('showPassword')"
        [attr.data-label-hide]="i18n.msgStr('hidePassword')"
      >
        <i
          class="fa-eye fas"
          aria-hidden="true"
        ></i>
      </button>
    </div>
  </div>
  <div
    [kcClass]="'kcFormHelperTextClass'"
    aria-live="polite"
  >
    <div [kcClass]="'kcInputHelperTextClass'">
      <ng-content></ng-content>
      @if (forgotPasswordValue) {
        <div [kcClass]="'kcInputHelperTextItemClass'">
          <span [kcClass]="'kcInputHelperTextItemTextClass'">
            <a [href]="resetCredentialsUrlValue">{{ i18n.msgStr('doForgotPassword') }}</a>
          </span>
        </div>
      }
    </div>
  </div>
</kc-group>
